/* Conteneur principal */
.weather-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background 1s ease-in-out;
  }
  
  /* Soleil */
  .sun {
    background: linear-gradient(to bottom, #87CEFA, #00BFFF); /* Bleu ciel clair à bleu vif */
    position: relative;
    overflow: hidden;
  }
  /* Pluie */
  .rain {
    background: linear-gradient(to bottom, #4B9CD3, #3A7BA8); /* Bleu gris clair à foncé */
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  /* Neige */
  .snow {
    background: linear-gradient(to bottom, #ADD8E6, #B0E0E6); /* Bleu très clair à bleu pâle */
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

/* Nuages */
.clouds {
    background: linear-gradient(to bottom, #d3d3d3, #808080);
  }

  /* Tempête */
.storm {
    background: #2f4f4f;
    animation: storm-animation 1s linear infinite;
  }

  /* Texte */
.weather-info {
    position: absolute;
    text-align: center;
    color: #fff;
  }
  
.error {
    color: red;
    font-size: 1.5rem;
    text-align: center;
  }