/* InventoryTabs.css */

.inventory-container {
    display: flex;
    flex-direction: column;
    /* Permet d'empiler les éléments verticalement */
    align-items: center;
    /* Centre horizontalement */
    padding: 5px;
}

.inventory-tabs {
    width: 90%;
    max-width: 600px;
    margin-top: 5px;
    /* Ajoute un espacement en haut si nécessaire */
}

.inventory-tab-list {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.inventory-tab {
    font-weight: bold;
}

.inventory-tab.Mui-selected {
    color: var(--joy-palette-secondary-main);
    border-bottom: 2px solid var(--joy-palette-secondary-main);
}